.carrinho-img {
  margin-right: 30px;
  width: 40px;
}

.search-input {
  margin-left: 30px;
  width: 75%;
}

.empty-cart-msg {
  margin-left: 30px;
}

.input-search-msg {
  margin-left: 30px;
  text-align: center;
}

.doNotShow {
  display: none;
}

.shop_cart_icon {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  justify-content: center;
  position: static;
}

.card {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px #000000;
  transition: all 0.3s;
  font-size: 1.2rem;
}
